
@import "primereact/resources/themes/lara-light-blue/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

.p-table,.p-datatable td,
.p-datatable th{
  color:#000 ;
  font-family:"Segoe UI",Arial, sans-serif;
  font-size:14px;
}
.p-datatable {
  margin: 20px auto;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.8);
}

.p-datatable-thead > tr > th {
  background:#f2f2f2;
  font-weight:600;
  text-align: left;
  padding: 12px 16px;
  border-bottom: 1px solid cc;
}

.p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #eee;
}
.p-datatable-tbody > tr:nth-child(even) 
{ 
  background: #fafafa; 
  transition: background 0.2s ease-in-out; 
}

.p-datatable-tbody > tr:hover {
  background: #f9f9f9;
  transition: background 0.2s ease-in-out;
}

.p-button {
  background-color: #3b82f6; /* blue */
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.p-button:hover {
  background-color: #2563eb; 
}

.p-paginator {
  margin-top: 12px;
  padding: 6px;
  display: flex;
gap:4px;
  align-items: center;
}

.p-paginator .p-dropdown {
  margin-left: 10px;
}

.p-paginator-current {
  font-size: 13px;
  color: #fcf7f7;
}
